<div id="dashboard" class="container">
  <div class="jumbotron">
    <h1 class="display-4">Posts</h1>
    <p class="lead">This is a simple posts cards on which you can manage the posts of your Blog Application.</p>
    <hr class="my-4">
    <p>To add a new post, please click on the below button</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= new_admin_post_path %>" role="button">Add</a>
    </p>
  </div>
</div>